/* global styles */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0 !important;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    overflow-x: hidden;
}
:root{
    --orange-color: #eb5424;
    --facebook-color: #3b5998;
    --twitter-color: #498cbf;
    --pinterest-color: #cc2127;
}
.container{
    margin: auto !important;
}
.container-fluid{
    padding: 0 !important;
}
.row{
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
}
.col{
    margin: 0 !important;
    padding: 0 !important;
}
.pd-y{
    padding: 70px 0 !important;
}
.mg-t{
    margin-top: 40px !important;
}
.f-wth{
    width: 100vw !important;
}

/* section header */
.section-header{
    text-align: center;
}
.section-header h2{
    text-transform: capitalize;
    font-weight: 400;
    font-size: 32px;
}